@media screen and (max-width: 1130px){
	.info-box::after {
	    bottom: 79px;
	    right: 147px;
	}
}
@media screen and (max-width: 1000px){
.menu-btn{
		top: 0;
		left: 100%;
		width: 70px;
		height: 70px;
		position: relative;
	}
	.menu-btn span{
		width: 18px;
		height: 2px;
		background: #fff;
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -1px 0 0 -9px;
	}
	.menu-btn span::before, .menu-btn span::after{
		width: 18px;
		height: 2px;
		background: #fff;
		position: absolute;
		left: 0;
		transition: transform 1s;
	}
	.menu-btn span::before{
		content: "";
		top: -5px;
	}
	.menu-btn span::after{
		content: "";
		bottom: -5px;
	}
	.menu-btn.is-active span{
		background: transparent;
	}
	.menu-btn.is-active span::before{
		transform: rotate(45deg);
		top: 0;
	}
	.menu-btn.is-active span::after{
		transform: rotate(-45deg);
		bottom: 0;
	}
	.menu{
		display: none;
		position: absolute;
		width: 200px;
		background: #76c7c0;
		top: 70px;
		right: 0;
	}
	.menu ul{
		margin: 0;
		padding: 3px 15px;
		list-style: none;
	}
	.menu a{
		display: block;
		padding: 5px 5px;
		color: #fff;
		text-decoration: none;
		text-transform: uppercase;
		border-bottom: 2px solid #f8e1b4;
	}
	.menu li:last-child a{
		border-bottom: none;
	}
}
@media screen and (max-width: 990px){
	.container{
		width: 800px;
	}
	.content-box{
		width: 48%;
		margin-bottom: 40px;
		padding: 15px 10px 54px 10px;
	}
	.content-box button {
	    bottom: -22px;
	    left: 25%;
	}
	.info-block{
		flex-wrap: wrap;
		justify-content: center;
	}
	.info-box{
		width: 49%;
	}
	.info-box::after {
    	right: 530px;
	}
	.slider-info {
	    top: 65px;
	    left: 7%;
	}
	.slider-info p {
	    font-size: 13px;
	    line-height: 22px;
	    margin: 0 94px 0 82px;
	}
	.slider-info h2 {
	    font-size: 39px;
	    margin: 0px 110px 16px 224px;
	}
	.inner button{
		top: 2px;
	}
	.content-block{
		margin-bottom: 15px;
	}
	.info-content h3{
		padding-top: 40px;
	}
	.info-box span{
		width: 120%;
	}
	.footer-top_block{
		justify-content: center;
	}
	.footer-box{
		width: 49%;
	}
	.footer-box h4,
	.footer-box ul{
		margin-left: 160px;
	}

}

@media screen and (max-width: 820px){
	.container{
		width: 480px;
	}
	.nav-tabs{
		display: none;
	}
	.carousel.slide{
		display: none;
	}
	.inner{
		margin-top: 0;
	}
	.inner button{
		top: 80%;
	}
	.content-box{
		width: 100%;
		margin-bottom: 20px;
	}
	.content-box button{
		bottom: -11px;
    	left: 122px;
	}
	.info-block{
		padding-bottom: 23px;
	}
	.info-box{
		width: 100%;
	}
	.info-box::after {
	    right: 410px;
	    bottom: 27px;
	}
	.footer-box{
		width: 100%;
	}
	.footer-box h4, .footer-box ul{
		margin-left: 0;
	}

}
@media screen and (max-width: 650px){
	.container{
		width: 320px;
	}
	.info-box::after {
	    right: 246px;
	    bottom: 27px;
	}
	.footer-box p{
		width: 100%;
	}
	.info-box span{
		width: 100%;
	}
}

@media screen and (max-width: 425px){
	.container{
		width: 250px;
	}
	.inner h3 {
	    font-size: 19px;
	    padding: 6px 0 0px 2px;
	}
	.inner button{
		font-size: 13px;
    	padding: 10px 30px 11px 30px;
	}
	.inner{
		margin-bottom: 22px;
	}
	.content-box {
	    padding: 15px 10px 26px 10px;
	}
	.content-box button{
		left: 45px;
		padding: 10px 65px 8px 65px;
	}
	.info-content h3 {
	    padding-top: 30px;
	    font-size: 28px;
	}
	.info-box p{
		padding-right: 0;
	}
	.info-content > p{
		padding-bottom: 10px;
	}
}