body{
	font-family: 'Open Sans', sans-serif;
	color: #777777;
	background: #f3f3f3;
    font-size: 14px;
    line-height: 1.3;
}
.container{
	min-width: 320px;
	max-width: 1174px;
	margin: 0 auto;
}
header{
	background: #76c7c0 url(../img/bg.png) repeat-x;
	background-position: 0 100%;
}
.logo{
	float: left;
	text-decoration: none;
	color: #fff;
	display: inline-block;
	padding: 25px 0 0 0;
}
.logo h1{
	display: inline-block;
	margin: 0;
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 800;
	padding: 0 3px 27px 0;
}
.logo span{
	font-size: 25px;
	font-weight: 400;
}
.logo:hover{
	text-decoration: none;
	color: #fff;
	opacity: 0.8;
}
.nav-tabs{
	border: none;
}
.nav-tabs{
	float: right;
	margin-left: 53px;
}
.nav-tabs li{
	display: inline-block;
	list-style: none;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
	background: #e8645a;
	border-bottom: 3px solid #e2534b;
	border: none;
}
.dropdown-toggle,
.nav-tabs li >a{
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	padding: 11px 14px 13px 11px;
	margin: 25px 0 0 0;
	color: #fff;
	border-radius: 3px;
	font-size: 13px;
	font-weight: 600;
	border-bottom: 3px solid transparent;
}
.nav-tabs li > a:hover{
	text-decoration: none;
	border: none;
	background: #e8645a;
	border-bottom: 3px solid #e2534b;
}
.nav-tabs .dropdown-menu {
	padding: 10px;
    margin-top: 12px;
    border: none;
    background: #e2534b;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.dropdown-menu li > a{
	background: #e5655d;
	margin: 5px 0 5px 0;
}
.dropdown-menu li > a:hover{
	color: #fff;
	border: none;
}
.dropdown-menu li{
	margin: 5px 0 0 0;
}
.dropdown-menu::before{
	content: "";
	display: block;
    margin: -16px 0 0 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 6px 6px 6px;
	border-color: transparent transparent #e2534b transparent;
}

.glyphicon-chevron-right:before,
.glyphicon-chevron-left:before{
	display: none;
}
.carousel-control.right{
	top: 50%;
	opacity: 1;
	width: 50px;
	height: 60px;
	background: #e8645a url(../img/slider-arrow.png) -40px 50% no-repeat;
	border-bottom: 3px solid #e2534b;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.carousel-control.left{
	top: 50%;
	opacity: 1;
	width: 50px;
	height: 60px;
	background: #e8645a url(../img/slider-arrow.png) 0 50% no-repeat;
	border-bottom: 3px solid #e2534b;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.carousel-indicators li{
	width: 60px;
	height: 5px;
	border: none;
	background: #e2534b;
	border-radius: 0;
}
.carousel-indicators li.active{
	width: 60px;
	height: 5px;
	border: none;
	background: #b0b8b9;
	border-radius: 0;
}
.carousel-indicators{
	bottom: -41px;
    left: 50%;
}
.slider-info{
	position: absolute;
	text-align: center;
	top: 157px;
	left: 25%;
}
.slider-info h2{
	text-transform: uppercase;
	background: #e2534b;
	font-size: 50px;
	    margin: 0px 35px 16px 153px;
	font-weight: 800;
	color: #fff;
}
.slider-info p{
	width: 468px;
	color: #fff;
	font-size: 16px;
	line-height: 25px;
	margin: 0 90px 0 90px;
	background: rgba(0,0,0,0.6);
}
.inner{
    padding: 2px 35px 14px 18px;
    background: #ececec;
    border-radius: 4px;
    margin-top: 50px;
    position: relative;
    margin-bottom: 50px;
}
.inner h3{
	display: inline-block;
	font-size: 30px;
	font-weight: 600;
	margin: 0;
    padding: 21px 0 0px 2px;
}
.inner p{
	display: inline-block;
	font-size: 13px;
	font-weight: 400;
	padding: 6px 0 0 0;
	word-spacing: -1px;
}
.inner button{
	text-transform: uppercase;
	position: absolute;
	top: 25px;
    right: 12px;
    font-size: 20px;
    font-weight: 600;
    padding: 14px 40px 11px 44px;
    border-radius: 5px;
	border: none;
	color: #fff;
	background: #e8645a;
	border-bottom: 4px solid #e2534b;	
}
.inner button:hover{
	border-color: #62bdbd;
	background: #76caca;
}

.content-block{
	margin-bottom: 77px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.content-box{
	position: relative;
	background: #fff;
	border-radius: 4px;
	padding: 52px 13px;
	width: 23%;
	text-align: center;
	-ms-align-items: baseline;
	align-items: baseline;
	border-bottom: 4px solid #e5e6e6;
}
.content-box a{
	display: block;
	text-decoration: none;
}
.content-box a > h4{
	color: #7f8c8c;
	margin: 0;
	padding: 7px 0 30px 0;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 800;
}
.fa{
	font-size: 59px;
	color: #62bdbd;
}
.fa:hover{
	color: #e2534b;
}
.content-box p{
	font-size: 13px;
	line-height: 20px;
	color: #777777;
}
.content-box button{
	position: absolute;
    bottom: -30px;
    left: 12%;
    font-size: 14px;
    font-weight: 600;
    background: #76caca;
    padding: 16px 65px 16px 65px;
	border-radius: 4px;
	border: none;
	color: #fff;
	border-bottom: 4px solid #62bdbd;
}
.content-box button:hover{
	background: #e8645a;
	border-color: #e2534b;
}

.info-block{
	padding-bottom: 74px;
	position: relative;
	display: flex;
	justify-content: space-between;
}
.info-box{
	text-align: left;
}
.info-box ul{
	width: 295px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
.info-box li{
    background: url(../img/arrow.png) -1px 14px no-repeat;
    flex-wrap: nowrap;
    list-style: none;
    padding: 10px 0px 0 17px;
	font-size: 13px;
	font-weight: 400;
}
.info{
	background: #ececec url(../img/bg2.png) repeat-x;
}
.info-content h3{
	text-transform: uppercase;
	text-align: center;
	font-size: 40px;
	font-weight: 600;
	color: #e1524b;
	margin: 0;
	padding: 65px 0 3px 0;
}
.info-content > p{
	text-align: center;
	font-size: 13px;
	font-weight: 400;
	margin: 0;
	padding: 0 0 52px 0;
}
.info-box a{
	color: #e1524b;
	text-decoration: underline;
}
.info-box a:hover{
	text-decoration: none;
}
.info-box span{
	background: #fff;
	border-radius: 5px;
	display: block;
	padding: 12px 15px 17px 8px;
}
.info-box::after{
	content: "";
	position: absolute;
    bottom: 87px;
    right: 205px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 24px 24px 0;
	border-color: transparent #ffffff transparent transparent;
}
.info-box h5{
	padding: 9px 0 24px 0;
    margin: 0;
	font-size: 16px;
	font-weight: 800;
	color: #7f8c8c;
}
.info-box p{
    margin: 0;
    padding: 7px 35px 0 0;
    font-size: 13px;
    line-height: 25px;
    font-weight: 400;
}
.info-box h6{
	font-size: 16px;
	font-weight: 600;
	color: #7f8c8c;
	margin: 0;
	padding: 11px 0 0 52px;
}
.footer-top{
	margin: 0;
	padding: 41px 0 28px 0;
	background: #76c7c0 url(../img/bg2.png) repeat-x;
	border-bottom: 1px solid #6ab3ac;
}
.footer-top h2{
	display: inline-block;
	margin: 0;
	color: #497e79;
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 800;
	margin: 0;
    padding: 0 0 25px 0px;
}
.footer-top span{
	color: #497e79;
	font-size: 25px;
	font-weight: 400;
}
.footer-top_block{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.footer-box{
	color: #fff;
}
.footer-box p{
	width: 400px;
    margin: 0;
    line-height: 22px;
    padding: 0 0 25px 0;
}
.contact-table td{
	font-size: 13px;
	font-weight: 400;
}
.contact-table td > a{
	font-weight: 600;
	text-decoration: none;
	color: #fff;
	font-size: 20px;
}
.footer-box h4{
	margin: 0;
	padding: 9px 0 26px 0;
	color: #497e79;
	font-size: 20px;
	font-weight: 700;
}
.footer-box h3{
    margin: 0;
    padding: 8px 0px 22px 53px;
	color: #497e79;
	font-size: 20px;
	font-weight: 700;
}
.footer-box ul{
	margin: 0;
	padding: 0;
}
.footer-box li{
	background: url(../img/arrow2.png) 0 5px no-repeat;
	list-style: none;
}
.footer-box li > a{
	padding: 0 0 0 10px;
	margin: 0;
	font-size: 13px;
	text-decoration: none;
	font-weight: 400;
	color: #fff;
}
.blog-box{

}
.blog-box img{
    padding: 3px 18px 17px 0;
	display: block;
	float: left;
}
.blog-box p{
	font-size: 13px;
	line-height: 20px;
	margin: 0;
	padding: 0 0 0 0;
}
.blog-box time{
	font-size: 13px;
	color: #497e79;
}
.footer-bottom{
	background: #dadada;
}
.footer-bottom p{
	font-size: 12px;
	padding: 20px 0 16px 0;
	margin: 0;
}